@import 'second.module.scss';

$primary-color:rgb(39, 47, 95);
$secondary-color:rgb(226, 217, 192);

.title {
    background-color: $primary-color;
    height:40px;
    padding:4px;
    font-weight: bold;
    
    a {
        color:$secondary-color
    
    };
  

}
.divcar{
    @include important-text
};
:export{
    primaryColor:$primary-color
}